@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ta aplikacja obecnie nie ma zarejestrowanego prawdziwego wysyłacza e-maili, zobacz <a href="https://aka.ms/aspaccountconf">te dokumenty</a> jak skonfigurować prawdziwego wysyłacza e-maili.
            Normalnie byłby wysłany e-mail z linkiem do potwierdzenia: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić swoje konto</a>
        </p>
    }
    else
    {
        <p>
            Sprawdź swoją skrzynkę e-mail, aby potwierdzić swoje konto.
        </p>
    }
}
