@{
    ViewData["Title"] = "Strona główna";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Witaj w aplikacji do zarządzania pracownikami i oddziałami w firmie!</h1>
                <p class="lead">Tutaj możesz zarządzać danymi pracowników oraz oddziałów firmy.</p>
                <p class="lead">Aby rozpocząć, wybierz jedną z opcji:</p>
                <ul class="list-unstyled">
                    <div>
                        <li><a class="btn btn-primary" asp-controller="Employee" asp-action="Index">Przeglądaj listę pracowników</a></li>
                    </div>
                    <br />
                    <div>
                        <li><a class="btn btn-primary" asp-controller="Branch" asp-action="Index">Przeglądaj listę oddziałów</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
